.card {
  width: 30%;
  border: 2px solid var(--color-accent);
  border-radius: 1rem;
  line-height: 1.5;
  overflow: hidden;
}
.card__img {
  width: 100%;
}
.wrapper {
  padding: 1rem;
}
.card__title {
  font-size: 1.3rem;
  font-weight: 600;
}
.card__price {
  font-weight: 500;
}
.card__allergen {
  font-weight: 700;
}
.card__btn {
  margin-top: 1rem;
  width: 100%;
}
